#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateCategoryInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateCategoryInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE Category SET $update WHERE category_id='$ctx.args.updateCategoryInput.category_id'", "SELECT * FROM Category WHERE category_id='$ctx.args.updateCategoryInput.category_id'"]
}