#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createProjectInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createProjectInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Project $colStr VALUES $valStr", "SELECT * FROM Project WHERE project_id='$ctx.args.createProjectInput.project_id'"]
}