.team-card {
	height: 554px;
	width: 374px;
}

.twitter-btn {
	/* social-btn */

	/* Auto Layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 41px;

	position: static;
	width: 155px;
	height: 52px;
	left: 109.5px;
	top: 462px;

	border: 3px solid #2B4756;
	box-sizing: border-box;
	border-radius: 40px;

	/* Inside Auto Layout */
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 40px 0px;
}